<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- MQ生产者 -->
    <bean class="com.common.tools.common.mq.producer.DefaultProducer" init-method="init" destroy-method="destroy" scope="singleton">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${producer.mqGroup}"/>
    </bean>

    <!-- PUSH消费者 -->
    <bean id="testLestener" class="com.test.TestLestener"/>
    <bean id="pushConfigEntity" class="com.common.tools.common.mq.push.PushConfigEntity">
        <property name="topic" value="${topic}"/>
        <property name="tag" value="${tag}"/>
        <property name="consumeMessageBatchMaxSize" value="1024"/>
        <property name="messageListenerConcurrently" ref="testLestener"/>
    </bean>
    <bean id="defaultPushConsumer" class="com.common.tools.common.mq.push.DefaultPushConsumer" init-method="init" destroy-method="destroy">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${push.mqGroup}"/>
        <property name="pushConfigEntity" ref="pushConfigEntity"/>
    </bean>

    <!-- PULL消费者 -->
    <bean id="pullTask" class="com.test.PullTask">
        <property name="tag" value="${tag}"/>
        <property name="pullNextDelayTimeMillis" value="5000"/>
        <property name="maxNums" value="200"/>
    </bean>
    <bean id="pullConfigEntity" class="com.common.tools.common.mq.pull.PullConfigEntity">
        <property name="topic" value="${topic}"/>
        <property name="pullTaskCallback" ref="pullTask"/>
    </bean>
    <bean id="defaultPullConsumer" class="com.common.tools.common.mq.pull.DefaultPullConsumer" init-method="init" destroy-method="destroy">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${pull.mqGroup}"/>
        <property name="pullConfigEntity" ref="pullConfigEntity"/>
    </bean>

</beans>