<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- MQ生产者 -->
    <bean class="com.common.tools.common.mq.DefaultProducer" init-method="init" destroy-method="destroy" scope="singleton">
        <property name="namesrvAddr" value="${mqnamesrv}"/>
        <property name="producerGroup" value="${mqGroup}"/>
    </bean>

    <!-- 消费者服务信息 -->
    <bean id="consumerInfo_1" class="com.common.tools.common.mq.beans.ConsumerInfo">
        <property name="namesrvAddr" value="${mqnamesrv}"/>
        <property name="consumerGroup" value="${mqGroup}"/>
        <property name="consumeMessageBatchMaxSize" value="${mqConMaxSize}"/>
    </bean>


    <!---->
    <bean id="testLestener" class="com.test.TestLestener"/>
    <bean id="subscribeInfo" class="com.common.tools.common.mq.beans.SubscribeInfo">
        <property name="topic" value="t_topic"/>
        <property name="tag" value="t_tag"/>
        <property name="messageListenerConcurrently" ref="testLestener"/>
    </bean>
    <bean id="defaultPushConsumer" class="com.common.tools.common.mq.DefaultPushConsumer" init-method="init" destroy-method="destroy" scope="singleton">
        <property name="consumerInfo" ref="consumerInfo_1"/>
        <property name="subscribeInfo" ref="subscribeInfo"/>
    </bean>



</beans>