<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- MQ生产者 -->
    <bean class="com.common.tools.common.mq.producer.DefaultProducer" init-method="init" destroy-method="destroy" scope="singleton">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${producer.mqGroup}"/>
    </bean>

    <!-- PUSH消费者 -->
    <bean id="demoPushConsumer" class="com.test.DemoPushConsumer">
        <property name="topic" value="${topic}"/>
        <property name="tag" value="${tag}"/>
        <property name="maxNums" value="1024"/>
    </bean>
    <bean id="defaultPushConsumer" class="com.common.tools.common.mq.push.DefaultPushConsumer" init-method="init" destroy-method="destroy">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${push.mqGroup}"/>
        <property name="pushListenerAbstract" ref="demoPushConsumer"/>
    </bean>

    <!-- PULL消费者 -->
    <bean id="demoPullConsumer" class="com.test.DemoPullConsumer">
        <property name="topic" value="${topic}"/>
        <property name="tag" value="${tag}"/>
        <property name="maxNums" value="200"/>
        <property name="pullNextDelayTimeMillis" value="5000"/>
    </bean>
    <bean id="defaultPullConsumer" class="com.common.tools.common.mq.pull.DefaultPullConsumer" init-method="init" destroy-method="destroy">
        <property name="namesrvAddr" value="${namesrvAddr}"/>
        <property name="group" value="${pull.mqGroup}"/>
        <property name="pullCallBackAbstract" ref="demoPullConsumer"/>
    </bean>

</beans>